.o_stock_by_location_popup.popover {
    max-width: 100% !important;

    // width: 600px !important;
    margin-top: 5px;
}

.table-responsive.widget_table {
    th,
    td {
        text-align: center;
        vertical-align: middle;
    }
}
